.container {
    display: grid;
    grid-column-gap: 40px;
    grid-template-columns: 1fr 200px;
}

.content {
}

@media only screen and (max-width: 800px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
    }
}
