.wrapper {
  margin: 0 auto;
  display: flex;
  padding: 10px;
  position: relative;
  background-color: black;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-auto-rows: 50px;
}

.item {
  border: solid black 5px;
  flex-grow: 1;
  grid-column: span 1;
  grid-row: span 1;
}

.item:hover {
  border: solid #292929 5px;
}

.image-wrapper {
  width: 100%;
  height: 100%;
}

.image-wrapper:hover {
  width: 100%;
  height: 100%;
}

/* TODO: move this to a more general stylesheet */
.widget-title {
	color: #ccc;
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 0.1em;
	line-height: 2.6em;
	text-transform: uppercase;
}
